<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin</title>
    <link href="~/Assets/css/app.css?@DateTime.Now.Ticks" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    <script src="~/Assets/js/app.js?@DateTime.Now.Ticks"></script>
</body>
</html>
